/* Main banner bg */
.main-banner-bg {
    background-image: url("images/bg/main_banner_bg.svg");

    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
